{{!< main}}
<main id="content-wrapper">
    <div id="notif-valid">
    <div class="subject-line">
      <i id="valid-i" class="fa-solid fa-thumbs-up"></i>
      <p id="subject">Account Created!</p>
    </div>
  </div>
  <div id="notif-invalid">
    <div class="subject-line">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <p id="subject">Errors found...</p>
    </div>
    <pre id="notif-errors"></pre>
  </div>
  <div id="sign-in">
    <form id="sign-in-form" action="\sign-in" method="post">
      <h2>Welcome back! Enter your details to sign in.</h1>
      <label for="sign-in-user">
        Enter your username:
      </label>
      <input type="text" name="user" id="sign-in-user">
      <label for="sign-in-pass">
        Enter your password:
        <i class="pass-viewer fa-regular fa-eye-slash"></i>
      </label>
      <input type="password" name="pass" id="sign-in-pass">
      <span class="requirements">All fields must be filled</span>
      <input type="submit" value="Sign in">
      <p id="switch-to-create">
        Don't have an account? Create one here.
      </p>
    </form>
    <img id="sign-in-img" src="/assets/sign_in_undraw.svg" alt="SVG Character with a confused text bubble containing a password query.">
  </div>
  <div id="create-account">
    <form id="create-form" action="\create-acc" method="post">
    <h2>Enter your details to make your new account.</h1>
    <label for="create-user">Enter a username:</label>
    <input type="text" name="user" id="create-user" maxlength="64">
    <span class="requirements">Min. 5 characters</span>
    <label for="create-pass">
      Enter your password:
      <i class="pass-viewer fa-regular fa-eye-slash"></i>
    </label>
    <input type="password" name="pass" id="create-pass" maxlength="64">
    <span class="requirements">
      Min. 8 characters, 1 number & symbol, No colon (:)
    </span>
    <label for="validate-pass">
      Enter your password again to confirm:
      <i class="pass-viewer fa-regular fa-eye-slash"></i>
    </label>
    <input type="password" name="validation" id="validate-pass">
    <span class="requirements">Must be identical</span>
    <input type="submit" value="Create Account">
    <p id="switch-to-sign">
      Already have an account? Sign in here.
    </p>
  </form>
  <img id="create-img" src="/assets/make_acc_undraw.svg" alt="SVG Character standing next to a human-sized phone with a sign in page.">
  </div>
</main>