{{!< main}} 
<main id="content-wrapper">
  <h1>A Beginner's Guide to Cat Care</h1>
  <section>
    <h2 class="section-header">Information for New Cat Owners</h2>
    <p>
      One of the first steps as a new cat owner is to schedule a veterinary
      examination. This allows for a thorough health check-up, discussion of
      routine healthcare such as vaccinations and parasite prevention, and
      addressing any concerns about cat behavior or medical care.
    </p>
    <p>
      It's also important to understand that cats have unique personalities and
      behaviors. Some may be shy, while others may be outgoing and constantly
      seeking attention.
    </p>
    <p>
      New cats can come with various health issues depending on their previous
      environment, so it's crucial to be aware of potential health problems and
      address them promptly. Patience is key when it comes to new pets.
      Adjusting to a new environment can be stressful for a cat, so giving them
      the time they need to adjust is essential.
    </p>
    <p>
      Lastly, cats are territorial animals and prefer to have their own space.
      Respecting their space and letting them come to you when they're ready can
      help build a strong and lasting bond. Remember, every cat is unique and
      may require different care. Always consult with a veterinarian or a cat
      behaviorist if you have any concerns or questions about your new feline
      friend.
    </p>
  </section>
  <section>
    <div class="section-with-img">
      <div>
        <h2 class="section-header">Your Cat's Diet</h2>
        <p>
          Becoming a cat owner for the first time can be an exciting yet
          overwhelming experience. One of the key aspects to focus on is your
          cat's dietary needs. Cats are carnivores and their diet should be rich
          in animal protein. It's crucial to choose a high-quality food that is
          appropriate for their age and lifestyle, as nutritional needs can
          vary.
        </p>
        <p>
          For instance, kittens have different nutritional requirements compared
          to adult cats. Both wet and dry foods have their benefits. Wet food
          aids in hydration but can't be left out for long, while dry food is
          easier to store and promotes dental hygiene.
        </p>
        <p>
          If you decide to change your cat's diet, do it gradually over a week
          to avoid upsetting their stomach. Also, cats prefer their water and
          food sources to be separate, mimicking their natural behavior to avoid
          contamination.
        </p>
        <p>
          Lastly, remember that cats are excellent at conserving water, so don't
          be alarmed if you don't see your cat drinking much, especially if
          they're on a wet food diet.
        </p>
      </div>
      <img class="tutorial-img" src="/assets/under_tree_undraw.svg"
        alt="A woman sitting under a tree with her orange cat.">
    </div>
  </section>
  <section>
    <h2 class="section-header">Preparing Your Home for a Cat</h2>
    <p>
      When preparing your home for a new cat, it's important to consider the
      following steps:
    </p>
    <ol>
      <li>
        Safe Space: Initially, confine your cat to a small room with all the
        essentials like food, water, a litter box, a cat bed, and some toys.
        This will help them adjust to their new environment without feeling
        overwhelmed.
      </li>
      <li>
        Gradual Introduction: Slowly introduce your cat to the rest of the
        house. This gradual introduction helps them get accustomed to their new
        surroundings.
      </li>
      <li>
        Cat-Proofing: Before letting your cat explore the rest of the house,
        ensure it's cat-safe1. Look out for fragile objects, small gaps,
        electrical wires, and unsecured furniture.
      </li>
      <li>
        Litter Tray: If you know what type of litter your new cat was using
        before, start with that at home. Cats tend to form strong preferences
        for what substrate they use.
      </li>
    </ol>
  </section>
  <p class="credit">Want to read more? <a class="source-link"
      href="./credits.html">View our sources.</a></p>
</main>