{{!< main}} 
<main id="content-wrapper">
    <div id="contact-wrapper">
      <div id="left-contacts">
        <h2>Send us a message!</h2>
        <h3>Customer Service</h3>
        <p>an_email@website.ca</p>
        <p>(123)-456-7890</p>
        <h3>Support Desk</h3>
        <p>support@website.ca</p>
        <p>(123)-456-7890 Ext. 1234</p>
      </div>
      <div id="divider"></div>
      <div id="right-contacts">
        <h2>Come by our centre!</h2>
        <h3>Address</h3>
        <p>Address Street, Province, QC</p>
        <p>Complex Number, Postal Code</p>
        <h3>Mailing Options</h3>
        <p>PO Box Address, PO Box Number</p>
      </div>
    </div>
</main>