{{#extend "main"}}
{{#content "title"}}Credits{{/content}}
{{#content "extraStylesheet"}}/assets/styles/credits.css{{/content}}
{{#content "body"}}
  <main id="content-wrapper">
    <h1>Sources for Website Content</h1>
    <h2>Images</h2>
    <p>
      All images were taken from <a target="_blank" rel="noreferrer noopener" href="https://undraw.co/">unDraw.co</a> under their Open Source License, permitting their illustrations to be used in any commercial or personal project without attribution for free.
    </p>
    <p>
      The placeholder images for <a href="./browse.html">Browse Available Pets</a> will be replaced in future iterations of the project, but until then the credits for the cat photos are: <a href="https://www.pinterest.com/pin/idk--930204498005658520/" rel="noopener noreferrer">from Pinterest</a> and <a href="https://www.reddit.com/r/RoastMyCat/comments/ce9wp0/deleted_by_user/" rel="noopener noreferrer">Reddit</a>. The dog gif is from <a href="https://tenor.com/en-CA/view/propeller-hat-dog-gif-11699767" rel="noopener noreferrer">Tenor</a>.
    </p>
    <h2>Information</h2>
    <p>
      All information was generated using Microsoft's Bing Copilot AI. It was prompted to summarize a small block of text in its own words from a single source on the topics found in the <a href="./cat-care.html">Cat Care</a> and <a href="./dog-care.html">Dog Care</a> pages. The sources used for each section are as follows: 
    </p>
    <ul>
      <li>
        Cat Care:
        <ul>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://thecatsite.com/c/help-new-cat-adjust-to-home/">A Beginner's Guide to Cat Care</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://cats.com/tips-for-new-cat-owners">Your Cat's Diet</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://cats.com/tips-to-help-your-cat-adjust-to-your-home">Preparing Your Home for a Cat</a>
          </li>
        </ul>
      </li>
      <li>
        Dog Care:
        <ul>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.thesprucepets.com/everything-a-first-time-dog-owner-should-know-5667284">Information for New Dog Owners</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://microsoftstart.msn.com/en-ca/health/ask-professionals/in-expert-answers-on-dogdiet/in-dogdiet?questionid=3uz2gbei&type=condition&source=bingmainline_conditionqna">Your Dog's Diet</a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.akc.org/expert-advice/home-living/how-to-help-an-adult-dog-adjust-to-a-new-home/">Preparing Your Home for a Dog</a>
          </li>
        </ul>
      </li>
    </ul>
    <h2>Icons</h2>
    <p>
      All icons were taken from <a target="_blank" rel="noreferrer noopener" href="https://fontawesome.com/">Font Awesome</a> under their open source free plan, which permits their set of free icon kits to be used in personal projects for free.
    </p>
  </main>
{{/content}}
{{/extend}}