{{!< main}} 
<main {{#unless sessionName}}class="no-scroll"{{/unless}} id="content-wrapper">
  {{#unless sessionName}}
    <div id="modal">
      <div id="inner">
        <h2>You need to be signed in to use this service</h2>
        <p>
          Sign in or create a new account <a href="/accounts">here</a>
        </p>
      </div>
    </div>
  {{/unless}}
  <div id="notif-valid">
    <div class="subject-line">
      <i id="valid-i" class="fa-solid fa-thumbs-up"></i>
      <p id="subject">Submission Successful!</p>
    </div>
  </div>
  <div id="notif-invalid">
    <div class="subject-line">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <p id="subject">Errors found...</p>
    </div>
    <pre id="notif-errors"></pre>
  </div>
  <img id="giveaway-img" src="../assets/adoption_undraw.svg"
    alt="A man standing next to a poster of a cat.">
  <h2>Looking to put up your pet for adoption? Fill out the form below.</h2>
  <form id="pet-form" action="/giveaway-form" method="post" enctype="multipart/form-data">
    <fieldset id="animal" class="guideline">
      <legend class="question-header">What type of animal?
        <span class="error-tooltip">Select one</span>
      </legend>
      <label for="cat">
        Cat <input type="radio" name="animal" value="Cat" id="cat">
      </label>
      <label for="dog">
        Dog <input type="radio" name="animal" value="Dog" id="dog">
      </label>
    </fieldset>
    <hr>
    <fieldset id="name">
      <label for="p-names" class="question-header">
        Your pet's name:
        <input type="text" name="name" id="p-names">
        <span class="error-tooltip">Enter your pet's name</span>
      </label>
    </fieldset>
    <hr>
    <fieldset id="photo" class="guideline">
      <legend class="question-header">A photo of your pet:
        <span class="error-tooltip">Submit an image</span>
      </legend>
      <input type="file" name="photo" accept="image/png image/jpeg image/jpg image/gif" id="pet-pic">
    </fieldset>
    <hr>
    <fieldset id="breed">
      <label for="breed-selector" class="question-header">
        Their breed:
        <select name="breed" id="breed-selector">
          <option value="">Select a breed</option>
          <optgroup id="Cat" label="Cats">
            <option value="Tabby">Tabby</option>
            <option value="Shorthair">Shorthair</option>
            <option value="Longhair">Longhair</option>
            <option value="Siamese">Siamese</option>
          </optgroup>
          <optgroup id="Dog" label="Dogs">
            <option value="Retriever">Retriever</option>
            <option value="Terrier">Terrier</option>
            <option value="Spaniel">Spaniel</option>
            <option value="Hound">Hound</option>
          </optgroup>
          <option value="Mixed">Mixed</option>
          <option value="None">Not Listed</option>
        </select>
        <span class="error-tooltip">Make a selection</span>
      </label>
    </fieldset>
    <hr>
    <fieldset id="age">
      <label for="age-selector" class="question-header">
        Their age:
        <select name="age" id="age-selector">
          <option value="">Select an age</option>
          <option value="<=1">1 or younger</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8+">8+</option>
        </select>
        <span class="error-tooltip">Make a selection</span>
      </label>
    </fieldset>
    <hr>
    <fieldset id="gender" class="guideline">
      <legend class="question-header">Their gender:
        <span class="error-tooltip">Select one.</span>
      </legend>
      <label for="male">
        Male <input type="radio" name="gender" value="Male" id="male">
      </label>
      <label for="female">
        Female <input type="radio" name="gender" value="Female" id="female">
      </label>
    </fieldset>
    <hr>
    <fieldset id="behaviour" class="guideline">
      <legend class="question-header">Does your animal behave well with...
        <span class="error-tooltip">Select at least one</span>
      </legend>
      <label for="dogs">
        Other Dogs
        <input type="checkbox" name="behaviour" value="Dogs" id="dogs">
      </label>
      <label for="cats">
        Other Cats
        <input type="checkbox" name="behaviour" value="Cats" id="cats">
      </label>
      <label for="kids">
        Children
        <input type="checkbox" name="behaviour" value="Children" id="kids">
      </label>
      <label for="none">
        None / Don't Know
        <input type="checkbox" name="behaviour" id="none" value="None - Wild"
          class="none-chosen">
      </label>
    </fieldset>
    <hr>
    <fieldset id="desc" class="guideline">
      <legend class="question-header">Tell us a little bit about your pet!
        <span class="error-tooltip">Enter a description</span>
      </legend>
      <textarea name="desc" id="animal-desc" maxlength="172" cols="40" rows="3"
        placeholder="Try to keep it brief so your description can fit on the listing."></textarea>
    </fieldset>
    <hr class="long">
    <h3>To finish off, we need some of your personal information:</h3>
    <h4>This is simply to help us connect you with interested adoptees!</h4>
    <fieldset id="owner-name">
      <label for="names" class="question-header">
        Your first and last name:
        <input type="text" name="owner-name" id="names">
        <span class="error-tooltip">Enter your name</span>
      </label>
    </fieldset>
    <br>
    <fieldset id="email">
      <label for="email-addr" class="question-header">
        Your email address:
        <input type="email" name="email" id="email-addr">
        <span class="error-tooltip">Enter a valid email address</span>
      </label>
    </fieldset>
    <hr>
    <div id="form-controls">
      <input type="submit" value="Submit Form">
      <input type="reset" value="Clear Form">
      <p id="error-detected">
        <i class="fa-solid fa-circle-exclamation"></i> Some input is invalid!
      </p>
    </div>
  </form>
  </main>