{{!< main}} 
<main id="content-wrapper">
  <img id="form-img" src="/assets/form_undraw.svg"
    alt="Two papers on top of each other.">
  <h2>Please fill out the following to help you find a new best friend!</h2>
  <form id="pet-form" action="#" method="get">
    <fieldset id="animal-type" class="guideline">
      <legend class="question-header">Animal of choice:
        <span class="error-tooltip">Select one</span>
      </legend>
      <label for="cat">
        Cat <input type="radio" name="animal-type" value="cat" id="cat">
      </label>
      <label for="dog">
        Dog <input type="radio" name="animal-type" value="dog" id="dog">
      </label>
    </fieldset>
    <hr>
    <fieldset id="breed" class="guideline">
      <legend class="question-header">Preferred breed:
        <span class="error-tooltip">Select at least one</span>
      </legend>
      <p class="inline-desc">Cats:</p>
      <div class="breed-list">
        <label for="tabby">
          Tabby Cat
          <input type="checkbox" name="breed" value="tabby" id="tabby">
        </label>
        <label for="shorthair">
          Shorthair Cat
          <input type="checkbox" name="breed" value="shorthair" id="shorthair">
        </label>
        <label for="longhair">
          Longhair Cat
          <input type="checkbox" name="breed" value="longhair" id="longhair">
        </label>
      </div>
      <br>
      <p class="inline-desc">Dogs:</p>
      <div class="breed-list">
        <label for="german">
          German Shepherd
          <input type="checkbox" name="breed" value="german" id="german">
        </label>
        <label for="pug">
          Pug
          <input type="checkbox" name="breed" value="pug" id="pug">
        </label>
        <label for="poodle">
          Poodle
          <input type="checkbox" name="breed" value="poodle" id="poodle">
        </label>
      </div>
      <br>
      <label for="no-pref-breed">
        No preference / Not listed
        <input type="checkbox" name="breed" value="no-pref" class="none-chosen"
          id="no-pref-breed">
      </label>
    </fieldset>
    <hr>
    <fieldset id="age">
      <label for="age-selector" class="question-header">
        Preferred age:
        <select name="age" id="age-selector">
          <option value="">Select an age</option>
          <option value="<=1">1 or younger</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8+">8+</option>
          <option value="no-pref">No preference</option>
        </select>
        <span class="error-tooltip">Make a selection</span>
      </label>
    </fieldset>
    <hr>
    <fieldset id="gender" class="guideline">
      <legend class="question-header">Preferred gender:
        <span class="error-tooltip">Select one</span>
      </legend>
      <label for="male">
        Male <input type="radio" name="gender" value="male" id="male">
      </label>
      <label for="female">
        Female <input type="radio" name="gender" value="female" id="female">
      </label>
      <label for="no-pref-gender">
        No preference <input type="radio" name="gender" value="no-pref"
          id="no-pref-gender">
      </label>
    </fieldset>
    <hr>
    <fieldset id="gets-along-with" class="guideline">
      <legend class="question-header">Your new pet needs to get along with...
        <span class="error-tooltip">Select at least one</span>
      </legend>
      <label for="dogs">
        Other Dogs
        <input type="checkbox" name="gets-along-with" value="dogs" id="dogs">
      </label>
      <label for="cats">
        Other Cats
        <input type="checkbox" name="gets-along-with" value="cats" id="cats">
      </label>
      <label for="kids">
        Children
        <input type="checkbox" name="gets-along-with" value="kids" id="kids">
      </label>
      <label for="no-pref">
        No Restrictions
        <input type="checkbox" name="gets-along-with" value="no-pref"
          class="none-chosen" id="no-pref">
      </label>
    </fieldset>
    <hr>
    <div id="form-controls">
      <input type="submit" value="Submit Form">
      <input type="reset" value="Clear Form">
      <span id="error-detected">
        <i class="fa-solid fa-circle-exclamation"></i> Some input is invalid!
      </span>
    </div>
  </form>
  </main>