{{#extend "main"}}
{{#content "title"}}Privacy Policy{{/content}}
{{#content "extraStylesheet"}}/assets/styles/privacy.css{{/content}}
{{#content "body"}}
  <main id="content-wrapper">
    <div id="policy-info">
      <p>Last updated <time datetime="2024-02-11 16:00">February 2024</time></p>
      <p id="policy-version">Version 1.0</p>
    </div>
    <br>
    <h1>Privacy Statement</h1>
    <p>
      The following privacy policy outlines how <span class="italicized">Cats and Dogs. Animal Shelter</span> ("Us", "We", "Our") will collect, use, and manage your personal information. Upon update, the user ("You", "Your") will be notified via your account's email address to inform you of any changes. By making an account with us, you confirm that you have read and accept this policy.
    </p>
    <section>
      <h2>Information we collect</h2>
      <p>
        Through activity on our site, we may collect personal identifiable information needed to provide you the service and connect you with the rest of the userbase. No inessential data will be collected without your consent. The data we collect includes the following:
      </p>
      <ul>
        <li>
          <span class="italicized">Information you give us:</span> This may include your name, email address, location, and phone number.
        </li>
        <li>
          <span class="italicized">Device information:</span> This may include unique identifiers such as your IP address, required to connect you with our servers and provide our service, or browser cookies, required to optimize your experience and remember your preferences.
        </li>
      </ul>
    </section>
    <section>
      <h2>How we use your information</h2>
      <p>
        Your information is valuable, and you can rest assured that it will not be misused. Your information will never be sold to data providers and is only kept to complete your user account within our secure database. 
      </p>
      <p>
        You have the right to request deletion of your data <span class="italicized">at any time</span> by contacting our support address and including your account name.
      </p>
    </section>
    <section>
      <h2>Content Disclaimer</h2>
      <p>
        Our userbase has the ability to upload information of pets that they are putting up for adoption. We are not responsible for any incorrect information that may have been posted by a pet owner or for any inquiries about pets up for adoption sent in by adoptees.
      </p>
    </section>
  </main>
{{/content}}
{{/extend}}