<footer>
    <a {{#if (active "/privacy" currentRoute)}}class="active"{{/if}} href="./privacy">Privacy Statement</a>
    <a href="https://github.com/mattlep11" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-square-github"></i></a>
    
    <!-- CITATIONS FOR ALL RESOURCES AND IMAGES HERE -->
    <a {{#if (active "/credits" currentRoute)}}class="active"{{/if}} href="./credits">Credits/References</a>
  </footer>