<footer>
    <a href="./privacy.html">Privacy Statement</a>
    <a href="https://github.com/mattlep11" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-square-github"></i></a>
    
    <!-- CITATIONS FOR ALL RESOURCES AND IMAGES HERE -->
    <a href="./credits.html">Credits/References</a>
  </footer>