<header id="web-header">
    <a href="./index.html">
      <h1 class="logo-head">dogs <span class="lm-swap-contrast">and</span> cats.</h1>
      <p><i class="fa-solid fa-paw"></i> adoption centre <i class="fa-solid fa-paw"></i></p>
      <p class="datetime">
        <span id="date">#</span>
        <span id="time">#</span>
      </p>
      <div id="logo-wrapper">  
        <img src="/assets/dog_undraw.svg" alt="Black dog sitting on a ledge." class="logo">
        <img src="/assets/cat_undraw.svg" alt="Black cat sitting on a ledge." class="logo">
      </div>
    </a>
  </header>