<nav id="navbar">
    <i id="spinning-bone" class="fa-solid fa-bone"></i>
    <ul>
      <li>
        <a class="navlink" href="./index.html">
          Home
          <i class="fa-solid fa-house"></i> 
        </a>
      </li>
      <li>
        <a class="active navlink" href="./browse.html">
          Browse Available Pets
          <i class="fa-solid fa-store"></i>
        </a>
      </li>
      <li>
        <a class="navlink" href="./pet-finder.html">
          Find a Dog/Cat
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      <li>
        <a class="navlink" href="./dog-care.html">
          Dog Care
          <i class="fa-solid fa-dog"></i>
        </a>
      </li>
      <li>
        <a class="navlink" href="./cat-care.html">
          Cat Care
          <i class="fa-solid fa-cat"></i>
        </a>
      </li>
      <li>
        <a class="navlink" href="./giveaway-form.html">
          Have a Pet to Giveaway
          <i class="fa-solid fa-box-archive"></i>
        </a>
      </li>
      <li>
        <a class="navlink" href="./contact.html">
          Contact Us
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </li>
    </ul>
  </nav>