<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- STYLES -->
  <link rel="stylesheet" href="/assets/styles/global.css">
  {{#if extraStylesheet}}
    <link rel="stylesheet" href="{{extraStylesheet}}">
  {{/if}}
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
  <body>
    {{> header }}
    {{> sidebar }}
    {{{body}}}
    <span id="size-warning">
      <i class="fa-solid fa-triangle-exclamation"></i>
      This demo is <strong>not</strong> optimized for your screen size. <br>
      You may experience visual bugs or strange formatting!
    </span>
    {{> footer }}
    {{#if extraScript}}
      {{{extraScript}}}
    {{/if}}
    {{> scripts }}
  </body>
</html>
