#content-wrapper {
  --error-red: rgb(150, 24, 24); 
  --max-question-size: 55rem;
  font-size: 1.3rem;
  text-shadow: 0 1px 2px var(--background);
}
#content-wrapper h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  
}
#content-wrapper h3 {
  font-size: 1.8rem;
}
h3 + h4 {
  margin-bottom: 2rem;
  text-indent: 3rem;
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
}

input, select { cursor: pointer}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0.25rem;
}
input[type="text"],
input[type="email"] {
  cursor: initial;
}

textarea {
  font-family: inherit;
  font-size: 1.2rem;
  resize: none;
  margin-top: 0.75rem;
}

#form-img,
#giveaway-img {
  position: absolute;
  height: 60%;
  right: 11%;
  margin-top: 5vh;
  opacity: 40%;
  z-index: -1;
}
#giveaway-img {
  height: 50%;
  top: 50%;
  opacity: 45%;
  transform: translateY(-50%);
}
@media (prefers-color-scheme: light) {
  #form-img {
    opacity: 55%;
  }
  #giveaway-img {
    opacity: 75%;
  }
}

fieldset {
  border: none;
  position: relative;
}
.guideline{
  position: relative;
}
.guideline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.6%;
  width: 1px;
  background: rgba(90, 90, 90, 0.6);
  height: 100%;
}

hr {
  margin-block: 2.65rem;
  height: 5px;
  border: none;
  background-image: linear-gradient(to right,
    var(--primary),
    var(--background) 95%
  );
  max-width: 55rem;
  z-index: -5;
}
.long {
  background: var(--primary);
  border-radius: 2px
}

br {
  margin-bottom: 1.25rem;
}

.question-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-question-size);
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
#age .question-header {
  justify-content: left;
  gap: 1rem;
}
label.question-header select {
  margin-left: 1rem;
}
select {
  font-family: inherit;
}
legend.question-header ~ * {
  margin-left: 2rem;
}
.inline-desc {
  font-weight: bold;
}
.breed-list {
  display: flex;
  gap: 2rem;
}

#form-controls {
  display: flex;
  gap: 5rem;
}
#form-controls input {
  padding: 0.8rem 2.45rem;
  background: var(--primary);
  border: none;
  border-radius: 3px;
  font-family: inherit;
  color: var(--background);
  font-weight: 600;
  transition: filter 200ms;
}
#form-controls input:hover {
  filter: hue-rotate(5deg);
}
#form-controls input:active {
  filter: hue-rotate(-15deg);
}

.error-detected legend,
.error-detected .question-header {
  color: var(--error-red);
}

@media (prefers-color-scheme: light) {
  #content-wrapper {
    --error-red: rgb(126, 2, 2);
  }
  .error-tooltip {
    --err-bg-color: rgba(59, 58, 58, 0.6);
  }
}


.error-tooltip {
  --err-bg-color: rgba(151, 148, 148, 0.8);
  position: relative;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
  border-radius: 1px 2px 2px 1px;
  background: var(--err-bg-color);
  color: var(--text);
  opacity: 0;
  text-align: center;
  pointer-events: none;
}
#age .error-tooltip {
  margin-left: auto;
}
.error-tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2.8rem;
  height: 0;
  width: 0;
  border-color: transparent var(--err-bg-color) transparent transparent;
  border-width: 1.4rem;
  border-style: solid;
}

#error-detected {
  display: none;
  max-width: var(--max-question-size);
  margin-top: 0.8rem; 
  padding-right: 23rem;
  text-align: center;
  font-weight: bold;
}
#error-detected i {
  color: var(--error-red);
  margin-right: 0.4rem;
}

@keyframes fade-out {
  5% { opacity: 1; }
  80% { opacity: 1 }
  100% { opacity: 0; }
}
