:root {
  font-size: 0.625rem;
  font-family: "Noto Sans", Arial, sans-serif;
  color: var(--text);
}
@media (prefers-color-scheme: light) {
  :root {
    --text: #1d2108;
    --background: #fafbef;
    --background-accent: #edf0e0;
    --primary: #b9cd37;
    --secondary: #92e3af;
    --accent: #68d9c3;
  }
  .lm-swap-contrast {
    color: var(--background);
    text-shadow: 3px 2px var(--text);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3f7de;
    --background: #0f1004;
    --background-accent: #111305;
    --primary: #b4c832;
    --secondary: #1c6d39;
    --accent: #269780;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

a { 
  text-decoration: none; 
  color: inherit;
}

body {
  --header-height: 14vh;
  --sidebar-width: 12.5vw;
  --sidebar-shadow-width: 1.5rem;
  --footer-height: 5vh;
  padding-top: calc(var(--header-height));
  padding-left: calc(var(--sidebar-width));
  padding-bottom: var(--footer-height);
  background: var(--background);
}

/* HEADER */
#web-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  height: var(--header-height);
  width: calc(100% - var(--sidebar-width) + var(--sidebar-shadow-width));
  font-size: 1.4rem;
  text-align: center;
  word-spacing: 5px;
  text-shadow: 3px 2px var(--background-accent);
  font-weight: bold;
  font-family: "Libre Baskeville", "Times New Roman", sans-serif;
  background: var(--background);
}
#web-header > a {
  position: relative;
}
#logo-wrapper {
  position: absolute;
  z-index: -1;
  top: -3.5rem; 
  right: -0.95rem;
}
.logo-head {
  margin-bottom: 1.25rem;
}
.logo {
  position: relative;
  height: 7.5rem;
  z-index: -1;
}
.logo:first-of-type {
  /* dog picture */
  margin-left: -5rem;
  margin-top: 0.75rem;
  height: 8rem;
}
.logo:last-of-type {
  /* cat picture */
  transform: scaleX(-1);
  margin-left: -12rem;
  z-index: -2;
}
.logo-head {
  font-size: 3.6rem;
}

/* NAVIGATION BAR */
#navbar {
  position: fixed;
  height: 100%;;
  width: var(--sidebar-width);
  left: 0; 
  margin-top: calc(-1 * var(--header-height));
  padding: 12.5vh 1rem;
  background: var(--background-accent);
  box-shadow: 10px 0 var(--sidebar-shadow-width) var(--background-accent); 
  z-index: 99;
  transition: width 250ms;
}
#navbar::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -1rem;
  height: 25%;
  width: 1rem;
  background: var(--accent);
  border-radius: 2px;
  transform-origin: center;
  pointer-events: none;
  transition: transform 250ms;
}
#navbar:hover {
  width: 14.5vw;
}
#navbar:hover::after {
  transform: scaleY(1.75);
}
#spinning-bone {
  position: absolute;
  top: 3rem;
  right: 50%;
  transform: translate(50%);
  font-size: 4rem;
  transform-origin: center;
  cursor: pointer;
}
#spinning-bone:hover {
  animation: spin-bone 500ms ease-in-out 1;
}
#navbar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.navlink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: var(--secondary);
  
  transition: padding 250ms, filter 250ms;
}
.navlink:hover {
  padding-block: 2.5rem;
  filter: hue-rotate(-15deg);
}
.navlink.active {
  background: var(--primary);
  color: var(--background);
}
.navlink i {
  opacity: 0;
  transition: opacity 250ms;
}
#navbar:hover .navlink i {
  opacity: 1;
}
@media (max-device-width: 1340px) {
  .navlink {
    font-size: 1.3rem;
  }
}
@media (max-device-width: 1020px) {
  .navlink {
    position: relative;
    color: transparent;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
  }
  .navlink i {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    font-size: 1.8rem;
    color: var(--text);
  }
  .navlink.active i {
    color: var(--background);
  }
}

@keyframes spin-bone {
  to {
    transform: translate(50%) rotate(180deg) scale(1);
  }
}

/* CONTENT AREA DEFAULTS */
#content-wrapper {
  height: 100%;
  padding: 1rem 3rem 3rem 3rem;
  overflow-y: auto;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-inline: 27.5%;
  justify-content: space-between;
  gap: 2rem;
  height: var(--footer-height);
  width: calc(100% - var(--sidebar-width) + var(--sidebar-shadow-width));
  background: var(--background-accent);
  font-size: 1.4rem;
}
footer a:hover {
  text-decoration: underline;
}
footer a:nth-of-type(2n) {
  font-size: 3rem;
}
footer a.active {
  font-weight: bold;
}
@media (max-device-width: 910px) {
  footer {
    padding-inline: 22%;
  }
}
