:root {
  font-size: 0.625rem;
  font-family: "Noto Sans", Arial, sans-serif;
  color: var(--text);
}
@media (prefers-color-scheme: light) {
  :root {
    --text: #1d2108;
    --background: #fafbef;
    --background-accent: #edf0e0;
    --primary: #b9cd37;
    --secondary: #92e3af;
    --accent: #68d9c3;
    --accent2: #9f6e5b;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3f7de;
    --background: #0f1004;
    --background-accent: #111305;
    --primary: #b4c832;
    --secondary: #1c6d39;
    --accent: #269780;
    --accent2: #a47461;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

a { 
  text-decoration: none; 
  color: inherit;
}

body {
  --header-height: 10vh;
  --sidebar-width: 12.5vw;
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);
  margin-left: calc(var(--sidebar-width) + 1.5rem);
  background: var(--background);
}

/* HEADER */
#web-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  background: var(--background);
  border: 1px solid red;
}

/* NAVIGATION BAR */
#navbar {
  position: fixed;
  height: calc(100% - var(--header-height));
  width: var(--sidebar-width);
  left: 0; 
  padding-block: 12.5vh;
  padding-left: 1rem;
  background: var(--background-accent);
  box-shadow: 10px 1px 10px var(--background-accent); 

  z-index: -1;
  transition: width 250ms;
}
#navbar::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -2rem;
  height: 25%;
  width: 1rem;
  background: var(--accent);
  border-radius: 2px;
  transform-origin: center;
  pointer-events: none;

  transition: transform 250ms;
}
#navbar:hover {
  width: 14.5vw;
}
#navbar:hover::after {
  transform: scaleY(1.75);
}
#navbar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.navlink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  
  transition: padding 250ms, filter 250ms;
}
.navlink:hover {
  padding-block: 2.5rem;
  filter: hue-rotate(-15deg);
}
.navlink.active {
  background: var(--primary);
  color: var(--background);
}
.navlink.inactive {
  background: var(--secondary)
}
.navlink i {
  opacity: 0;
  transition: opacity 250ms;
}
#navbar:hover .navlink i {
  opacity: 1;
}

/* CONTENT AREA DEFAULTS */
#content-wrapper {
  border: 1px solid green;
}

/* FOOTER */
footer {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  background: var(--accent2);
  color: var(--background);
  width: 30vw;
  height: 5vh;
  margin: 0 auto 1.5rem auto;
}
